.popup__close {
  position: absolute;
  margin-left: 100%;
  margin-top: -36px;
  /* right: -35px;
  top: -35px; */
  /* right: 39%;
  top: 38%; */
  /* Делаем кнопку прозрачной */
  background-color: rgba(0,0,0,0);
  border: none;
  z-index: 3;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
.popup__close {
  /* position: absolute; */
  /* right: 0;
  top: -35px; */
  margin-left: 92%;
}
}