.header {
  /* grid-area: header; */
  display: flex;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  padding-top: 45px;
  width: 100%;
  box-sizing: border-box;
  /* НЕ СОВСЕМ ПОНЯЛ, зачем его убирать, если убрать будет виден Border */
  /* border: 0; */
  border-style: solid;
  /* Тогда ДРУГОЙ ВАРИАНТ делаем невидемым остальной border */
  border-color: rgba(84, 84, 84, 0.0);
  /* у нижнего меняем цвет */
  border-bottom-color: rgba(84, 84, 84, 0.7);
  /* здесь я задаю нижнему бордеру ширину */
  border-bottom-width: 1px;
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 28px;
    width: 100vw;
    margin-left: -19px;
  }
}
