.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-top: 45px;
  width: 100%;
  box-sizing: border-box;
  /* background-color: rgb(120, 120, 120); */
  border: 0;
  border-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
  border-bottom-width: 1px;
}

@media screen and (max-width: 600px) {
  .header {
   padding-top:28px ;
   width: 100vw;
  }
}
