.button-edit {
  display: flex;
  margin-left: 18px;
  align-self: center;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  height: 24px;
  width: 24px;
  justify-content: center;
}

.button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 967px) {
  .button-edit {
    width: 18px;
    height: 18px;
  }
}