.popup__close {
  position: absolute;
  right: -35px;
  top: -35px;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
.popup__close {
  position: absolute;
  right: 0;
  top: -35px;
}
}