.subtitle {
  padding-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 967px) {
  .subtitle {
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
}
}
