.popup__form {
  padding: 34px 0 37px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 358px;
}

@media screen and (max-width: 600px) {
  .popup__form {
    padding-top: 25px;
    width: 238px;
  }
}