.profile-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  /* grid-template-rows: repeat(2, 1fr); */
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 967px) {
  .profile-info {
    justify-self: center;
    padding-left: 0;
}
}